version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: library_postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: library_adminer
    restart: always
    env_file:
      - .env
    ports:
      - "${ADMINER_PORT}:8080"

volumes:
  postgres_data:
